In [3]:
import pandas as pd

df = pd.read_csv("/home/colombelli/Documents/datasets/leukemia_big.csv", header=None)

In [5]:
x = df.T.iloc[0:, 1:]
x.head()

,1,2,3,4,5,6,7,8,9,10,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,-1.533621735,-1.235672925,-0.333982875,0.488702121,-1.300893264,-1.682668245,-2.010994928,-1.449185684,0.035344171,-1.088904912,...,0.385566637,1.268787786,-0.217953576,0.25538086,-1.057940081,1.295991951,0.733853066,-0.301622172,0.133657104,-0.825595612
1,-0.867609617,-1.275500531,0.375926519,0.444010978,-1.229659818,-1.642071845,0.57291921,-1.588303607,0.21957414,0.119833615,...,-0.158356485,0.822879505,-1.369024157,0.542520961,-0.796526794,-0.2184937,0.378380453,-0.663166359,-0.663166359,-0.611044879
2,-0.433171907,-1.184492247,-0.459196002,0.436263539,-1.325882367,-1.407263942,-0.264655224,-1.147712888,-0.573540803,0.78451239,...,0.662728335,0.642714155,-0.466828186,0.856140037,-0.416815974,1.132893256,0.475668505,-0.530137975,1.566946374,-0.805978415
3,-1.671903187,-1.596423985,-1.422571436,0.193352945,-1.818328843,-1.744469301,-1.793196519,-1.446177699,-0.325814834,-1.324190596,...,0.161917961,0.462715198,-0.585184983,-0.181007943,-0.611256782,1.113076885,0.148928156,-0.6259453,0.871972365,-1.037245914
4,-1.187689367,-1.335255683,-0.797492909,0.235631518,-1.311205961,-1.654380542,-1.441690105,-1.058555601,-0.582683167,0.001758051,...,0.176720583,0.750757803,-0.380080665,0.526297612,-0.888026343,0.719203228,0.419502118,-0.487513844,0.358998761,-0.742857958

In [9]:
len(x.iloc[0].values)

7128

In [16]:
import numpy as np

selectCol = np.full((7128), False, dtype=bool)
selectCol[1] = True
selectCol[5] = True

In [17]:
x[x.columns[selectCol]]

               2             6
0   -1.235672925  -1.682668245
1   -1.275500531  -1.642071845
2   -1.184492247  -1.407263942
3   -1.596423985  -1.744469301
4   -1.335255683  -1.654380542
..           ...           ...
67  -1.335255683  -1.470618548
68  -1.204586362   -1.48582123
69  -0.751457095  -1.761631517
70  -0.889592102  -1.579062229
71  -1.080987614  -1.636680274

[72 rows x 2 columns]